Solution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Solution">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Configurations">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Platform" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Name" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Folder">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Project" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Path" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
